body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif; }

header {
  width: 100%;
  background-color: #F5F5F5;
  border-bottom: 1px solid #AAAAAA;
  height: 50px;
  margin-bottom: 15px;
  display: block; }
  header div {
    width: 70%;
    margin-left: 15%; }
  header .main-search {
    width: 400px; }
  header a {
    font-weight: bold;
    font-size: 12px;
    color: black; }

.octicon-mark-github {
  padding: 10px; }

form {
  display: inline; }

ul {
  list-style-type: none;
  display: inline;
  padding-left: 10px; }

li {
  display: inline-block;
  padding: 5px; }

aside {
  width: 15%;
  display: block;
  float: left;
  margin-left: 15%;
  margin-right: 2%; }
  aside img {
    border-radius: 5%;
    width: 100%; }

.main-photo, .info, .follow {
  border-bottom: 1px solid #AAAAAA; }

section {
  width: 60%;
  display: inline-block;
  margin-top: 15px; }
  section p {
    color: #AAAAAA;
    font-size: 14px; }

.find-repo {
  width: 250px; }

.new-repo {
  background-color: #73CE53;
  color: #FFFFFF;
  font-weight: bold; }

article {
  display: inline-block; }

.repo-border {
  border-top: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
  border-left: 1px solid #AAAAAA;
  padding: 10px; }

.pub-act-border, .repo-header, .repo-post {
  border-bottom: 1px solid #AAAAAA;
  padding: 10px; }

.info .octicon {
  color: #AAAAAA;
  padding-right: 10px; }

.ocitcon-pencil {
  display: inline; }

.info p {
  font-size: 14px; }

h2, a {
  color: #4183C4; }

a {
  text-decoration: none; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 12px; }

p {
  font-size: 14px; }

.follow h2 {
  margin-bottom: 0;
  text-align: center; }

.follow p {
  color: #AAAAAA;
  font-size: 10px;
  margin-top: 0px; }

.follow a {
  display: inline-block;
  padding-left: 15px; }
